#txtFuncao
{
  position: relative;
  top: 20px;
  left: 4px;
}

#caixaDeEntrada
{
  position: relative;
  top: 20px;
  left: 10px;
}

#canvas
{
  position: relative;
  top: 50px;
  z-index: -1;
}

@media screen and (orientation: portrait)
{
  #txtFuncao
  {
    font-size: 3em;
  }

  #caixaDeEntrada
  {
    font-size: 3em;
  }

  body
  {
    color: aqua;
  }
}