#txtDigiteFuncao
{
  position: relative;
  top: 20px;
  left: 4px;
}
#txtFx
{
  position: relative;
  top: 70px;
  right: 100px;
}

#caixaDeEntrada
{
  position: relative;
  top: 20px;
  right: 30px;
}

#canvas
{
  position: relative;
  top: 80px;
  left: 10px;
}

#botaoPlot
{
  position: relative;
  right: 30px;
  top: 20px;

}

@media screen and (max-width: 1024px)
{
  #txtFx
  {
    font-size: 2em;
  }
  #botaoPlot
  {
    font-size: 2em;
  }
  #txtDigiteFuncao
  {
    font-size: 2em;
  }

  #caixaDeEntrada
  {
    font-size: 2em;
  }

  body
  {
    background-color: coral;
  }
}