h1
{
	font-family: Candara;
	color: white;
	position: absolute;
	font-size: 2em;
	top: 0px;
	left: 1vw;
}

body
{
	background-color: #F0FFF0;
	margin: 0;
}

#caixaDeEntrada
{
	color: black;
	resize: none;
	height: 1em;
	position: absolute;
	top: 10em;
	left: 4em;
}

#txtFuncao
{
	position: absolute;
	top: 8em;
	left: 1em;
}


#canvas
{
	position: absolute;
	left: 1vw;
	top: 15em;
}

ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

li
{
	list-style=type: none;
	display: inline;
	margin: 2vw;
	font-size: 3vh;
}

a
{
	text-decoration: none;
	color: black;
	padding: 2vw;
	font-family: monospace;
}

a:hover
{
	background-color: #C6E9FF;
}

nav
{
	width: 100vw;
	background-color: #D6EFFF;
}

#botaoMenu
{
	display: none;
}

@media screen and (max-width: 768px)
{
	#botaoMenu
	{
		display: block;

		padding: 2vw;
		font-size: 3vh;
		background-color: #AFE0FF;
		border: none;

		outline: none;
		cursor: pointer;

		align-self: flex-start;
	}
	ul
	{
		flex-direction: column;
	}

	li
	{
		margin: 0;
	}

	a
	{
		display: block;
	}
}